@model PizzaStore.Client.Models.PizzaViewModel

@* HTML WAY *@
<form action="/order/placeorder" method="post">
  @foreach (var crust in @Model.Crusts)
  {
      <input type="radio" name="crust" value="@crust.Name"></input>
  }

  <select name="size" id="">
    @foreach (var size in @Model.Sizes)
    {
        <option value="@size.Name">@size.Name</option>
    }
  </select>

  @foreach (var topping in @Model.Toppings)
  {
      <input type="checkbox" name="selectedtoppings" value="@topping.Name"></input>
  }

  <button type="submit">place order</button>
</form>

@* HTML HELPER WAY *@
@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
  foreach (var crust in Model.Crusts)
  {
      Html.RadioButtonFor(m => m.Crust, crust.Name);
  }
  
  Html.DropDownListFor(m => m.Sizes, new SelectList(Model.Sizes));

  foreach (var topping in Model.Toppings)
  {
      Html.CheckBoxFor(m => m.SelectedTopping, new { name = "SelectedToppings", value = topping});
  }
}

@* TAG HELPER WAY *@
<form asp-action="placeorder" method="post">
  @foreach (var crust in @Model.Crusts)
  {
      <input type="radio" asp-for="@Model.Crust" value="@crust.Name">
  }

  <select asp-for="@Model.Size">
    @foreach (var size in @Model.Sizes)
    {
        <option value="@size.Name">@size.Name</option>
    }
  </select>
</form>